{% extends 'index.html.twig' %}

{# @var clients \App\Entity\Client[] #}
{% block content %}
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content" style="background: rgba(177,233,254,0.6);">
            <div class="container-fluid">
                <div class="alert alert-{{ resultColor }} hide" role="alert">
                    <span class="fw-bold">{{ resultMessage }}</span>
                </div>
                <div class="card shadow" style="background: rgba(255,255,255,0.5);margin-bottom: 5%;">
                    <div class="card-header py-3" style="background: #003247;">
                        <h3 style="color: rgb(255,255,255) !important;" class="text-dark mb-1">Ügyfelek</h3>
                    </div>
                    <div class="card-body" style="background: rgba(255,255,255,0.5);">
                        <div class="row">
                            <div class="col-md-6 text-nowrap">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button style="background: #e6f8fe;opacity: 1; border:solid black; color:black;" disabled><i class="fa fa-search"></i></button>
                                    </div>
                                    <input type="text" id="myInput" onkeyup="searchFilter()" title="Ügyfél keresése">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-end dataTables_filter" id="dataTable_filter">
                                    <a href="{{ path('generateClientExcel') }}" class="btn btn-primary buttonDesign" type="button">Excel</a>
                                    <a href="{{ path('generateClientPDF') }}" class="btn btn-primary buttonDesign" type="button">PDF</a>
                                    <button class="btn btn-primary buttonDesign" type="button" data-bs-target="#addClient" data-bs-toggle="modal">Hozzáadás</button>
                                </div>
                            </div>
                        </div>
                        <div class="scrollIt table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                            <table class="table table-striped my-0" id="dataTable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Ügyfél neve</th>
                                    <th>Adószám</th>
                                    <th>Kapcsolattartó név</th>
                                    <th>Kapcsolattartó telefon<br></th>
                                    <th>Kapcsolattartó email<br></th>
                                    <th>Cím</th>
                                    <th>Módosítás</th>
                                </tr>
                                </thead>
                                {% set counter = 0 %}
                                {% for client in clients %}
                                    <tr id="{{ counter }}">
                                        <td id="id{{ counter }}">{{ client.id }}</td>
                                        <td id="clientName{{ counter }}">{{ client.clientName }}</td>
                                        <td id="vatNumber{{ counter }}">{{ client.vatNumber }}</td>
                                        <td id="contactName{{ counter }}">{{ client.contactID.fullName }}</td>
                                        <td id="contactPhone{{ counter }}">{{ client.contactID.phoneNumber|replace({'+36':''}) }}</td>
                                        <td id="contactEmail{{ counter }}">{{ client.contactID.email }}</td>
                                        <td>
                                            <span class="d-none" id="region{{ counter }}">{{ client.deliveryID.settlementID.regionID.regionName }}</span>
                                            <span id="postalCode{{ counter }}">{{ client.deliveryID.settlementID.postalCode }}</span>
                                            <span id="settlement{{ counter }}">{{ client.deliveryID.settlementID.settlementName }}</span>,
                                            <span id="address{{ counter }}">{{ client.deliveryID.address }}</span>
                                        </td>
                                        <td>
                                            <button id="btn{{ counter }}" class="btn btn-primary buttonDesign" type="button" data-bs-target="#updateClient" data-bs-toggle="modal" onclick="updateClient(this.id)"><i class="fas fa-edit operationIcon"></i></button>
                                        </td>
                                    </tr>
                                    {% set counter = counter + 1 %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    <div class="modal fade" role="dialog" tabindex="-1" id="updateClient">
        <div class="modal-dialog modal-lg modal-fullscreen-lg-down" role="document">
            <div class="modal-content">
                <div class="modal-header modalHeaderFooter">
                    <h5 class="w-100 text-center"><strong>Ügyfél adat frissítés</strong><br></h5><button type="button" class="btn-close gomb" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="updateForm" action="{{ path('updateClient', {"clientId" : "id"}) }}" method="post">
                    <div class="modal-body modalBody">
                        <div class="card shadow mb-3" style="background: rgba(255,255,255,0.5);">
                            <div class="card-body" style="background: rgba(255,255,255,0.5);">

                                    <div class="row">
                                        <div class="col col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="clientName"><strong>Ügyfél név</strong></label>
                                                <small style="color:red">(Ha létező a megadott ügyfél név, akkor nem kerül módosításra!)</small>
                                                <input class="form-control" type="text" id="clientName" name="clientName" maxlength="100" required>
                                            </div>
                                        </div>
                                        <div class="col col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="vatNumber"><strong>Adószám</strong><br></label>
                                                <input class="form-control" type="text" id="vatNumber" name="vatNumber" maxlength="10" required>
                                            </div>
                                        </div>
                                        <div class="col col-12 col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="postalCode"><strong>Irányítószám</strong><br></label>
                                                <input class="form-control" type="number" id="postalCode" name="postalCode" onchange="loadUpdateData()" maxlength="4" required>
                                            </div>
                                        </div>
                                        <div class="col col-12 col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="region"><strong>Megye</strong><br></label>
                                                <input class="form-control" type="text" id="region" name="region" required disabled>
                                            </div>
                                        </div>
                                        <div class="col col-12 col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="settlement"><strong>Város</strong><br></label>
                                                <input class="form-control" type="text" id="settlement" name="settlement" required disabled>
                                            </div>
                                        </div>
                                        <div class="col col-12 col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="address"><strong>Utca, házszám</strong><br></label>
                                                <input class="form-control" type="text" id="address" name="address" maxlength="50" required>
                                            </div>
                                        </div>
                                        <div class="col col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="contact_FullName"><strong>Kontakt neve</strong><br></label>
                                                <input class="form-control" type="text" id="contact_FullName" name="contact_FullName" maxlength="100" required>
                                            </div>
                                        </div>
                                        <div class="col col-12">
                                            <label class="form-label" for="contact_PhoneNumber"><strong>Kontakt telefonszáma</strong><br></label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-append">
                                                    <button class="input-group-text" style="background: #e6f8fe;opacity: 1; border:solid black; color:black;" disabled>+36</button>
                                                </div>
                                                <input class="form-control" type="text" id="contact_PhoneNumber" name="contact_PhoneNumber" maxlength="30" required>
                                            </div>
                                        </div>
                                        <div class="col col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="contact_Email"><strong>Kontakt email</strong><br></label>
                                                <input class="form-control" type="email" id="contact_Email" name="contact_Email" maxlength="255" required>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer modalHeaderFooter">
                        <button class="btn btn-light modalCloseButton" type="button" data-bs-dismiss="modal">Bezárás</button>
                        <button class="btn btn-primary modalSaveButton" type="submit">Mentés</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="addClient">
        <div class="modal-dialog modal-lg modal-fullscreen-lg-down" role="document">
            <div class="modal-content">
                <div class="modal-header modalHeaderFooter">
                    <h5 class="w-100 text-center"><strong>Ügyfél hozzáadása</strong><br></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{{ path('addClient') }}" method="post">
                    <div class="modal-body modalBody">
                        <div class="card shadow mb-3" style="background: rgba(255,255,255,0.5);">
                            <div class="card-body" style="background: rgba(255,255,255,0.5);">
                                    <div class="row">
                                        <div class="col col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="newClientName"><strong>Ügyfél név</strong></label>
                                                <input class="form-control" type="text" id="newClientName" name="newClientName" maxlength="100" required>
                                            </div>
                                        </div>
                                        <div class="col col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="newVatNumber"><strong>Adószám</strong><br></label>
                                                <input class="form-control" type="text" id="newVatNumber" name="newVatNumber" maxlength="10" required>
                                            </div>
                                        </div>
                                        <div class="col col-12 col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="postCode"><strong>Irányítószám</strong><br></label>
                                                <input class="form-control" type="number" id="postCode" name="postCode" onchange="loadAddData()" maxlength="4" required>
                                            </div>
                                        </div>
                                        <div class="col col-12 col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="newRegion"><strong>Megye</strong><br></label>
                                                <input class="form-control" type="text" id="newRegion" name="newRegion" required disabled>
                                            </div>
                                        </div>
                                        <div class="col col-sm-12 col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="newSettlement"><strong>Város</strong><br></label>
                                                <input class="form-control" type="text" id="newSettlement" name="newSettlement" required disabled>
                                            </div>
                                        </div>
                                        <div class="col col-sm-12 col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="newAddress"><strong>Utca, házszám</strong><br></label>
                                                <input class="form-control" type="text" id="newAddress" name="newAddress" maxlength="50" required >
                                            </div>
                                        </div>
                                        <div class="col col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="newContact_Fullname"><strong>Kontakt neve</strong><br></label>
                                                <input class="form-control" type="text" id="newContact_Fullname" name="newContact_Fullname" maxlength="100" required>
                                            </div>
                                        </div>
                                        <div class="col col-12">
                                            <label class="form-label" for="newContact_Phonenumber"><strong>Kontakt telefonszáma</strong><br></label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-append">
                                                    <button class="input-group-text" style="background: #e6f8fe;opacity: 1; border:solid black; color:black;" disabled>+36</button>
                                                </div>
                                                <input class="form-control" type="text" id="newContact_Phonenumber" name="newContact_Phonenumber" placeholder="304407954" maxlength="30" required>
                                            </div>
                                        </div>
                                        <div class="col col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="newContact_Email"><strong>Kontakt email</strong><br></label>
                                                <input class="form-control" type="email" id="newContact_Email" name="newContact_Email" maxlength="255" required>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer modalHeaderFooter">
                        <button class="btn btn-light modalCloseButton" type="button" data-bs-dismiss="modal">Bezárás</button>
                        <button class="btn btn-primary modalSaveButton" type="submit">Hozzáadás</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <script>
        function searchFilter() {
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("dataTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        function loadAddData(){
            $.ajax({
                url:"{{ path('getOneSettlementForAdding') }}",
                method: "POST",
                data:{
                    "postCode": document.getElementById("postCode").value
                },
                success:function(result){
                    $("#newSettlement").val(result.settlementName);
                    $("#newRegion").val(result.region_ID.region_name);
                }
            });
        }
        function loadUpdateData(){
            $.ajax({
                url:"{{ path('getOneSettlementForUpdating') }}",
                method: "POST",
                data:{
                    "postalCode": document.getElementById("postalCode").value
                },
                success:function(result){
                    $("#settlement").val(result.settlementName);
                    $("#region").val(result.region_ID.region_name);
                }
            });
        }
        var url = document.getElementById("updateForm").action;
        function updateClient(rowId){
            rowId = rowId.replace("btn", "");

            id = document.getElementById("id"+rowId).innerHTML;
            document.getElementById("clientName").value = document.getElementById("clientName"+rowId).innerHTML;
            document.getElementById("vatNumber").value = document.getElementById("vatNumber"+rowId).innerHTML;
            document.getElementById("postalCode").value = document.getElementById("postalCode"+rowId).innerHTML;
            document.getElementById("region").value = document.getElementById("region"+rowId).innerHTML;
            document.getElementById("settlement").value = document.getElementById("settlement"+rowId).innerHTML;
            document.getElementById("address").value = document.getElementById("address"+rowId).innerHTML;
            document.getElementById("contact_FullName").value = document.getElementById("contactName"+rowId).innerHTML;
            document.getElementById("contact_PhoneNumber").value = document.getElementById("contactPhone"+rowId).innerHTML;
            document.getElementById("contact_Email").value = document.getElementById("contactEmail"+rowId).innerHTML;

            var newUrl = url.replace("id", parseInt(id));
            document.getElementById("updateForm").action = newUrl;
            $("#updateClient").show();
        }
    </script>
{% endblock %}


