{% extends 'index.html.twig' %}

{# @var clients \App\Entity\Client[] #}
{% block content %}
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content" style="background: rgba(177,233,254,0.6);">
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Ügyfelek<br></h3>
                <div class="card shadow" style="background: rgba(255,255,255,0.5);margin-bottom: 5%;">
                    <div class="card-body" style="background: rgba(255,255,255,0.5);">
                        <div class="row">
                            <div class="col-md-6 text-nowrap">
                                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">Show&nbsp;<select class="d-inline-block showSelect">
                                            <option value="10" selected="">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>&nbsp;</label></div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-end dataTables_filter" id="dataTable_filter"><button class="btn btn-primary buttonDesign" type="button">Excel</button><button class="btn btn-primary buttonDesign" type="button">PDF</button><button class="btn btn-primary buttonDesign" type="button" data-bs-target="#addClient" data-bs-toggle="modal">Hozzáadás</button></div>
                            </div>
                        </div>
                        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                            <table class="table my-0" id="dataTable">
                                <thead>
                                <tr>
                                    <th>Ügyfél neve</th>
                                    <th>Adószám</th>
                                    <th>Cím</th>
                                    <th>Kapcsolattartó név</th>
                                    <th>Kapcsolattartó telefon<br></th>
                                    <th>Kapcsolattartó email<br></th>
                                    <th>Módosítás</th>
                                </tr>
                                </thead>
                                {% set counter = 0 %}
                                {% for client in clients %}
                                    <tr id="{{ counter }}">
                                        <td id="id{{ counter }}">{{ client.id }}</td>
                                        <td id="clientName{{ counter }}">{{ client.clientName }}</td>
                                        <td id="fullName{{ counter }}">{{ user.fullName }}</td>
                                        <td id="email{{ counter }}">{{ user.email }}</td>
                                        <td id="phoneNumber{{ counter }}">{{ user.phoneNumber }}</td>
                                        {% if user.roles[0] == "ROLE_ADMIN" %}
                                            <td id="role{{ counter }}">{{ user.roles[0] }}</td>
                                        {% elseif user.roles[0] == "ROLE_USER" %}
                                            <td id="role{{ counter }}">{{ user.roles[0] }}</td>
                                        {% endif %}
                                        <td>
                                            <button id="btn{{ counter }}" class="btn btn-primary buttonDesign" type="button" data-bs-target="#updateUser" data-bs-toggle="modal" onclick="updateUser(this.id)"><i class="fas fa-edit operationIcon"></i></button>
                                        </td>
                                    </tr>
                                    {% set counter = counter + 1 %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 align-self-center">
                                <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                            </div>
                            <div class="col-md-6">
                                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer" style="background: #1e2833 !important;"></footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="updateClient">
        <div class="modal-dialog modal-lg modal-fullscreen-lg-down" role="document">
            <div class="modal-content">
                <div class="modal-header modalHeaderFooter">
                    <h5 class="w-100 text-center"><strong>Ügyfél adat frissítés</strong><br></h5><button type="button" class="btn-close gomb" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modalBody">
                    <div class="card shadow mb-3" style="background: rgba(255,255,255,0.5);">
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col col-12">
                                        <div class="mb-3"><label class="form-label" for="username"><strong>Ügyfél név</strong></label><input class="form-control" type="text" id="username" placeholder="user.name" name="username"></div>
                                    </div>
                                    <div class="col col-12">
                                        <div class="mb-3"><label class="form-label" for="email"><strong>Adószám</strong><br></label><input class="form-control" type="email" id="email" placeholder="user@example.com" name="adoszam"></div>
                                    </div>
                                    <div class="col col-12">
                                        <div class="mb-3"><label class="form-label" for="first_name"><strong>Szállítási cím</strong><br></label><input class="form-control" type="text" id="first_name" placeholder="John" name="first_name"></div>
                                    </div>
                                    <div class="col col-12">
                                        <div class="mb-3"><label class="form-label" for="last_name"><strong>Kontakt neve</strong><br></label><input class="form-control" type="text" id="last_name" placeholder="Doe" name="last_name"></div>
                                    </div>
                                    <div class="col col-12">
                                        <div class="mb-3"><label class="form-label" for="last_name"><strong>Kontakt telefonszáma</strong><br></label><input class="form-control" type="text" id="last_name-1" placeholder="Doe" name="last_name"></div>
                                    </div>
                                    <div class="col col-12">
                                        <div class="mb-3"><label class="form-label" for="last_name"><strong>Kontakt email</strong><br></label><input class="form-control" type="text" id="last_name-4" placeholder="Doe" name="last_name"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer modalHeaderFooter"><button class="btn btn-light modalCloseButton" type="button" data-bs-dismiss="modal">Bezárás</button><button class="btn btn-primary modalSaveButton" type="button">Mentés</button></div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="addClient">
        <div class="modal-dialog modal-lg modal-fullscreen-lg-down" role="document">
            <div class="modal-content">
                <div class="modal-header modalHeaderFooter">
                    <h5 class="w-100 text-center"><strong>Ügyfél hozzáadása</strong><br></h5><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modalBody">
                    <div class="card shadow mb-3" style="background: rgba(255,255,255,0.5);">
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col col-12">
                                        <div class="mb-3"><label class="form-label" for="username"><strong>Ügyfél név</strong></label><input class="form-control" type="text" id="username-1" placeholder="user.name" name="username"></div>
                                    </div>
                                    <div class="col col-12">
                                        <div class="mb-3"><label class="form-label" for="email"><strong>Adószám</strong><br></label><input class="form-control" type="email" id="email-1" placeholder="user@example.com" name="adoszam"></div>
                                    </div>
                                    <div class="col col-12">
                                        <div class="mb-3"><label class="form-label" for="first_name"><strong>Szállítási cím</strong><br></label><input class="form-control" type="text" id="first_name-1" placeholder="John" name="first_name"></div>
                                    </div>
                                    <div class="col col-12">
                                        <div class="mb-3"><label class="form-label" for="last_name"><strong>Kontakt neve</strong><br></label><input class="form-control" type="text" id="last_name-2" placeholder="Doe" name="last_name"></div>
                                    </div>
                                    <div class="col col-12">
                                        <div class="mb-3"><label class="form-label" for="last_name"><strong>Kontakt telefonszáma</strong><br></label><input class="form-control" type="text" id="last_name-3" placeholder="Doe" name="last_name"></div>
                                    </div>
                                    <div class="col col-12">
                                        <div class="mb-3"><label class="form-label" for="last_name"><strong>Kontakt email</strong><br></label><input class="form-control" type="text" id="last_name-5" placeholder="Doe" name="last_name"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer modalHeaderFooter"><button class="btn btn-light modalCloseButton" type="button" data-bs-dismiss="modal">Bezárás</button><button class="btn btn-primary modalSaveButton" type="button">Hozzáadás</button></div>
            </div>
        </div>
    </div>
{% endblock %}


