<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/statics.css') }}">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block jquery %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}

        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
