{# @var user \App\Entity\User #}
{# @var wh \App\Entity\Warehouse #}
{# @var stocks \App\Entity\Stock[] #}
{# @var orders \App\Entity\Order[] #}
{% block stylesheets %}

{% endblock %}


{% block jquery %}

{% endblock %}


<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>IStorage</title>
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/fonts/fontawesome5-overrides.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/navbar.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/statics.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/users.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/stock.css') }}">
    <script type="text/javascript" src="{{ asset('/assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/chart.min.js') }}"></script>
    <script src="{{ asset('assets/js/bs-init.js') }}"></script>
    <script src="{{ asset('assets/bootstrap/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/theme.js') }}"></script>
</head>

<body id="page-top">
{% block body %}
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" id="navbarBrand" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-mobile-alt"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>IStorage</span></div>
                </a>
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href="{{ path('main') }}"><i class="fa fa-bar-chart"></i><span>Statisztika</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="{{ path('users') }}"><i class="fas fa-user"></i><span>Raktárosok</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="{{ path('allClients') }}"><i class="fas fa-table"></i><span>Ügyfelek</span></a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link active" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-warehouse"></i>Raktár</a>
                        <div class="dropdown-menu animated--grow-in"><a class="dropdown-item" href="{{ path('allStock') }}">Készlet</a><a class="dropdown-item" href="{{ path('orderedStock') }}">Beérkező</a></div>
                    </li>
                    <li class="nav-item"><a class="nav-link active" href="{{ path('sellingStock') }}"><i class="far fa-credit-card"></i><span>Eladás</span></a></li>
                </ul>
            </div>
        </nav><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="background: rgba(177,233,254,0.6);">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top" style="background: #1e2833 !important;">
                    <div class="container-fluid">
                        <button class="btn btn-link d-md-none rounded-circle" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="navbar-nav flex-nowrap ms-auto flex-wrap" id="profile">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown" id="dropdownProfile">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" id="dropdownProfile" href="#"><span class="d-none d-lg-inline d-sm-inline me-2 text-gray-600" id="profileItem"><img class="border rounded-circle img-profile border-0" src="{{ asset('assets/img/unknow.jpg') }}">&nbsp;{{ user.username }}</span></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in dropdownProfileSet"><a class="dropdown-item profileDropItemSet" href="{{ path('updateLoggedUser') }}"><i class="fas fa-user fa-sm fa-fw me-2"></i>&nbsp;Profil</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item profileDropItemSet" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Kijelentkezés</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                {% block content %}
                    <div class="container-fluid">
                        <div class="d-sm-flex justify-content-between align-items-center mb-4">
                            <h3 class="text-dark mb-0">Statisztikák</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xl-3 col-sm-12 col-md-12 col-lg-3 mb-4">
                                <div class="card shadow border-start-primary py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span class="staticsFont">Bevételek(Havi)</span></div>
                                                <div class="text-dark fw-bold h5 mb-0"><span>{{ incomingPrice}} Ft</span></div>
                                            </div>
                                            <div class="col-auto text-gray-300" style="color: rgb(0,50,71) !important; font-weight: bold;font-size:1.9rem;">Ft</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3 col-sm-12 col-md-12 col-lg-3 mb-4">
                                <div class="card shadow border-start-success py-2" style="background: rgba(255,255,255,0.2);">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-success fw-bold text-xs mb-1"><span class="staticsFont">Kiadások(havi)</span></div>
                                                <div class="text-dark fw-bold h5 mb-0"><span>{{ outgoingPrice }} Ft</span></div>
                                            </div>
                                            <div class="col-auto text-gray-300" style="color: rgb(0,50,71) !important; font-weight: bold;font-size:1.9rem;">Ft</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3 col-sm-12 col-md-12 col-lg-3 mb-4">
                                <div class="card shadow border-start-warning py-2" style="background: rgba(255,255,255,0.2);">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span class="staticsFont">Beérkezett telefonok</span></div>
                                                <div class="text-dark fw-bold h5 mb-0"><span>{{ inStockCount }}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-warehouse fa-2x text-gray-300" style="color: rgb(0,50,71) !important;"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3 col-sm-12 col-md-12 col-lg-3 mb-4">
                                <div class="card shadow border-start-warning py-2" style="background: rgba(255,255,255,0.2);">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-danger fw-bold text-xs mb-1"><span class="staticsFont">Megrendelt telefonok</span></div>
                                                <div class="text-dark fw-bold h5 mb-0"><span>{{ orderedStockCount }}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-warehouse fa-2x text-gray-300" style="color: rgb(0,50,71) !important;"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-xl-4">
                                <div class="card shadow mb-4" style="background: rgba(255,255,255,0.5);">
                                    <div class="card-header d-flex justify-content-between align-items-center" style="background: rgba(255,255,255,0.8);">
                                        <h6 class="text-primary fw-bold m-0">Raktár áttekintése - Bp-MOBILE</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="chart-area">
                                            <canvas id="doughnutChart"></canvas>
                                        </div>
                                        <div class="text-center small mt-4">
                                            <span class="me-2"><i class="fas fa-circle text-info"></i>&nbsp;Szabad kapacitás</span>
                                            <span class="me-2"><i class="fas fa-circle text-primary"></i> Foglalt kapacitás</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-xl-8">
                                <div class="card shadow mb-4" style="background: rgba(255,255,255,0.5);">
                                    <div class="card-header d-flex justify-content-between align-items-center" style="background: rgba(255,255,255,0.8);">
                                        <h6 class="text-primary fw-bold m-0">Bevétel áttekintés</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="chart-area">
                                            <canvas id="barDiagram"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-7 col-xl-8 col-lg-12 col-xl-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center" style="background: rgba(255,255,255,0.8);">
                                        <h6 class="text-primary fw-bold m-0">A héten beérkezett telefonok</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="scrollIt table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                            <table class="table table-striped my-0" id="dataTable">
                                                <thead>
                                                <tr>
                                                    <th>Mennyiség</th>
                                                    <th>Beszerzési ár / db</th>
                                                    <th>Telefon</th>
                                                    <th>Raktár</th>
                                                    <th>Beérkezett</th>
                                                    <th>Partner</th>
                                                    <th>Felhasználó</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for stock in stocks %}
                                                    {% if stock.amount > 0 %}
                                                        <tr>
                                                            <td>{{ stock.amount }} db</td>
                                                            <td>{{ stock.purchasePrice }} Ft</td>
                                                            <td>
                                                                <span>{{ stock.phoneID.brandID.brandName }} </span>
                                                                <span>{{ stock.phoneID.modelID.modelName }} </span>
                                                                <span>{{ stock.phoneID.colorID.phoneColor }} </span>
                                                                <span>{{ stock.phoneID.capacityID.capacity }} GB </span>
                                                            </td>
                                                            <td>{{ stock.warehouseID.whName }}</td>
                                                            <td>{{ stock.date|date('Y-m-d H:i:s') }}</td>
                                                            <td>{{ stock.clientID.clientName }}</td>
                                                            <td>{{ stock.userID.username }} ({{ stock.userID.roles[0] }})</td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                <tr></tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 col-xl-8 col-lg-12 col-xl-12">
                                <div class="card shadow mb-4" style="background: rgba(255,255,255,0.5);">
                                    <div class="card-header d-flex justify-content-between align-items-center" style="background: rgba(255,255,255,0.8);">
                                        <h6 class="text-primary fw-bold m-0">A héten eladott telefonok</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="scrollIt table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                            <table class="table table-striped my-0" id="dataTable">
                                                <thead>
                                                <tr>
                                                    <th>Mennyiség</th>
                                                    <th>Eladási ár / db</th>
                                                    <th>Telefon</th>
                                                    <th>Raktár</th>
                                                    <th>Ügyfél</th>
                                                    <th>Eladva</th>
                                                    <th>Felhasználó</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for order in orders %}
                                                    <tr>
                                                        <td>{{ order.amount }} db</td>
                                                        <td>{{ order.price }} Ft</td>
                                                        <td>
                                                            <span>{{ order.phoneID.brandID.brandName }} </span>
                                                            <span>{{ order.phoneID.modelID.modelName }} </span>
                                                            <span>{{ order.phoneID.colorID.phoneColor }} </span>
                                                            <span>{{ order.phoneID.capacityID.capacity }} GB </span>
                                                        </td>
                                                        <td>{{ order.warehouseID.whName }}</td>
                                                        <td>{{ order.clientID.clientName }}</td>
                                                        <td>{{ order.date|date('Y-m-d H:i:s') }}</td>
                                                        <td>{{ order.userID.username }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                <tr></tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        var doughnutDiagramm = document.getElementById("doughnutChart").getContext('2d');
                        var doughnutChart = new Chart(doughnutDiagramm,{
                            type: 'doughnut',
                            data: {
                                labels:["Szabad kapacitás", "Foglalt kapacitás"],
                                datasets:[{
                                    backgroundColor:[
                                        "#0D47A1",
                                        "#42A5F5"
                                    ],
                                    data: [{{ wh.capacity }}, {{ stockCount }}],
                                    borderWidth: [0, 0, 0]
                                }]
                            },
                            options: {
                                maintainAspectRatio: false,
                                cutoutPercentage: 60,
                                legend: {
                                    position: "bottom",
                                    display: false,
                                    labels: {
                                        fontColor: '#ddd',
                                        boxWidth: 15
                                    }
                                }
                                ,
                                tooltips: {
                                    displayColors: false
                                }
                            }
                        });

                        var barDiagramm = document.getElementById("barDiagram").getContext('2d');
                        var xValues = ["Jan", "Feb", "Már", "Ápr", "Máj", "Jún", "Júl", "Aug", "Szep", "Okt", "Nov", "Dec"]
                        var yValues = [{% for m in month %}
                            {{ m }},
                            {% endfor %}]
                        var barChart = new Chart(barDiagramm,{
                            type: 'bar',
                            data: {
                                labels:xValues,
                                datasets:[{
                                    backgroundColor:[
                                        "#B71C1C",
                                        "#880E4F",
                                        "#4A148C",
                                        "#311B92",
                                        "#1A237E",
                                        "#0D47A1",
                                        "#039BE5",
                                        "#006064",
                                        "#004D40",
                                        "#1B5E20",
                                        "#33691E",
                                        "#827717",
                                        "#F57F17"
                                    ],
                                    data: yValues,

                                }]
                            },
                            options: {
                                maintainAspectRatio: false,
                                cutoutPercentage: 60,
                                legend: {
                                    position: "bottom",
                                    display: false,
                                    labels: {
                                        fontColor: '#ddd',
                                        boxWidth: 15
                                    }
                                }
                                ,
                                tooltips: {
                                    displayColors: false
                                }
                            }
                        });

                    </script>
                {% endblock %}
            </div>

        </div>
    </div>
{% endblock %}
</body>

</html>

