{% extends 'index.html.twig' %}

{# @var user \App\Entity\User #}
{# @var stocks \App\Entity\Stock[] #}
{% block content %}
    <div class="container-fluid">

        <div class="alert alert-{{ resultColor }}" role="alert">
            <span class="fw-bold">{{ resultMessage }}</span>
        </div>
        <div class="card shadow" style="background: rgba(255,255,255,0.5);margin-bottom: 5%;">
            <div class="card-header py-3" style="background: #003247;">
                <h3 style="color: white;">Készlet</h3>
            </div>
            <div class="card-body" style="background: rgba(255,255,255,0.5);">
                <div class="row">
                    <div class="col-md-6 text-nowrap">
                        <div class="input-group" >
                            <div class="input-group-prepend">
                                <button style="background: #e6f8fe;opacity: 1; border:solid black; color:black;" disabled><i class="fa fa-search"></i></button>
                            </div>
                            <input type="text" id="myInput" onkeyup="searchFilter()">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end dataTables_filter" id="dataTable_filter">
                            <a href="{{ path('generateArrivedExcel') }}" class="btn btn-primary buttonDesign" type="button">Excel</a>
                            <a href="{{ path('generateArrivedPDF') }}" class="btn btn-primary buttonDesign" type="button">PDF</a>
                            <button onclick="addingStock()" class="btn btn-primary buttonDesign" type="button" data-bs-target="#addOrder" data-bs-toggle="modal">Hozzáadás</button>
                        </div>
                    </div>
                </div>
                <div class="scrollIt table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table table-striped my-0" id="dataTable">
                        <thead>
                        <tr>
                            <th>Mennyiség</th>
                            <th>Beszerzési ár</th>
                            <th>Eladási ár</th>
                            <th>Telefon</th>
                            <th>Raktár</th>
                            <th>Beérkezett</th>
                            <th>Partner</th>
                            <th>Felhasználó</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set counter = 0 %}
                        {% for stock in stocks %}
                            {% if stock.statusID.status != "Megrendelve" %}
                                <tr>
                                    <td>{{ stock.amount }}</td>
                                    <td>{{ stock.purchasePrice }}</td>
                                    <td>{% set sell = stock.purchasePrice * 1.27 %} {{ sell }}</td>
                                    <td>
                                        <span>{{ stock.phoneID.brandID.brandName }} </span>
                                        <span>{{ stock.phoneID.modelID.modelName }} </span>
                                        <span>{{ stock.phoneID.colorID.phoneColor }} </span>
                                        <span>{{ stock.phoneID.capacityID.capacity }} GB </span>
                                    </td>
                                    <td>{{ stock.warehouseID.whName }}</td>
                                    <td>{{ stock.date|date('Y-m-d H:i:s') }}</td>
                                    <td>{{ stock.clientID.clientName }}</td>
                                    <td>{{ stock.userID.username }} ({{ stock.userID.roles[0] }})</td>
                                </tr>
                            {% endif %}
                            {% set counter = counter + 1 %}
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr></tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="addOrder">
        <div class="modal-dialog modal-lg modal-fullscreen-lg-down" role="document">
            <div class="modal-content">
                <div class="modal-header modalHeaderFooter">
                    <h5 class="w-100 text-center"><strong>Készülék rendelése</strong></h5><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{{ path('addStock') }}" method="post">
                    <div class="modal-body modalBody">
                        <div class="card shadow mb-3" style="background: rgba(255,255,255,0.5);">
                            <div class="card-body" style="background: rgba(255,255,255,0.5);">
                                    <div class="row">
                                        <div class="col col-12">
                                            <label class="form-label" for="clientName"><strong>Partner</strong></label>
                                            <div class="input-group mb-3">
                                                <select name="clientName" id="clientName" class="form-select orderSelect" required></select>
                                                <div class="input-group-append">
                                                    <a style="border-radius: 0 !important;" href="{{ path('allClients') }}"  class="btn buttonDesign">+</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col col-sm-6 col-12">
                                            <label class="form-label" for="brandName"><strong>Márka</strong></label>
                                            <div class="input-group mb-3">
                                                <select name="brandName" id="brandName" class="form-select orderSelect" onchange="addBrandChange()" required>
                                                </select>
                                                <div class="input-group-append">
                                                    <a style="border-radius: 0 !important;" href="{{ path('addPhone') }}"  class="btn buttonDesign">+</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col col-sm-6 col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="modelName"><strong>Modell</strong><br></label>
                                                <select name="modelName" id="modelName" class="form-select orderSelect" onchange="addModellChange()" required>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col col-sm-6 col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="colorName"><strong>Szín</strong><br></label>
                                                <select name="colorName" id="colorName" class="form-select orderSelect" onchange="addColorChange()" required></select>
                                            </div>
                                        </div>
                                        <div class="col col-sm-6 col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="capacity"><strong>Kapacitás</strong><br></label>
                                                <select name="capacity" id="capacity" class="form-select orderSelect" required></select>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="warehouse"><strong>Raktár</strong><br></label>
                                            <select name="warehouse" id="warehouse" class="form-select orderSelect" required></select>
                                        </div>
                                        <div class="row">
                                            <div class="col col-sm-6 col-12">
                                                <div class="mb-3">
                                                    <label class="form-label" for="amount"><strong>Mennyiség</strong><br></label>
                                                    <input class="form-control" type="number" id="amount" name="amount" required>
                                                </div>
                                            </div>
                                            <div class="col col-sm-6 col-12">
                                                <div class="mb-3">
                                                    <label class="form-label" for="purchase"><strong>Beszerzési ár</strong><br></label>
                                                    <input class="form-control" type="text" id="purchase" name="purchase" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                        <div class="modal-footer modalHeaderFooter">
                            <button class="btn btn-light modalCloseButton" type="button" data-bs-dismiss="modal">Bezárás</button>
                            <button class="btn btn-primary modalSaveButton" type="submit">Hozzáadás</button>
                        </div>
                </form>

            </div>
        </div>
    </div>
    <script src="{{ asset('assets/bootstrap/js/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function (){
            $.ajax({
                url: "{{ path('allWarehouse') }}",
                success: function (eredmeny){
                    $.each(eredmeny, function (key,value){
                        var warehouseOption = $('<option>', {value:value.id, text:value.whName});
                        $('#warehouse').append(warehouseOption);
                    });
                }
            });
            $("#models").hide();
            $("#colors").hide();
            $("#capacities").hide();
            $("#szures").hide();
            $.ajax({
                url: "{{ path('allArrivedBrand') }}",
                method: "post",
                success: function (result){
                    $.each(result, function (key,value){
                        var brandOption = $('<option>', {value:value.phoneID.brandID.id, text:value.phoneID.brandID.brandName});
                        $("#brands").append(brandOption);
                    });
                }
            });
        })
        function addingStock(){
            $("#brandName").html("");
            $("#modelName").prop('disabled', 'disabled');
            $("#colorName").prop('disabled', 'disabled');
            $("#capacity").prop('disabled', 'disabled');
            $.ajax({
                url:"{{ path('allBrands') }}",
                method: "post",
                success: function (result){
                    var defaultVal = $('<option>', {value:"", text:"Válassz márkát!"});
                    $("#brandName").append(defaultVal);
                    $.each(result, function (key,value){
                        var brandOption = $('<option>', {value:value.id, text:value.brandName});
                        $("#brandName").append(brandOption);
                    });
                }
            });
            $.ajax({
                url:"{{ path('selectAllClients') }}",
                method: "post",
                success: function (result){
                    var defaultVal = $('<option>', {value:"", text:"Válassz ügyfelet!"});
                    $("#clientName").append(defaultVal);
                    $.each(result, function (key,value){
                        var clientOption = $('<option>', {value:value.id, text:value.clientName});
                        $("#clientName").append(clientOption);
                    });
                }
            });
        }
        function addBrandChange(){
            $.ajax({
                url:"{{ path('allModelByBrand') }}",
                method: "post",
                data:{
                    "brandNameID": document.getElementById("brandName").value
                },
                success:function (result){
                    $("#modelName").html("");
                    $("#modelName").prop('disabled', false);
                    $("#colorName").prop('disabled', 'disabled');
                    $("#capacity").prop('disabled', 'disabled');
                    var defaultVal = $('<option>', {value:"", text:"Válassz modellt!"});
                    $("#modelName").append(defaultVal);
                    $.each(result, function (key,value){
                        var modelOption = $('<option>', {value:value.modelID.id, text:value.modelID.modelName});
                        $("#modelName").append(modelOption);
                    });


                }
            });
        }
        function addModellChange(){
            $.ajax({
                url:"{{ path('allColorByModel') }}",
                method: "post",
                data:{
                    "modelNameID": document.getElementById("modelName").value
                },
                success:function (result){
                    $("#colorName").html("");
                    $("#colorName").prop('disabled', false);
                    $("#capacity").prop('disabled', 'disabled');
                    var defaultVal = $('<option>', {value:"", text:"Válassz színt!"});
                    $("#colorName").append(defaultVal);
                    $.each(result, function (key,value){
                        var colorOption = $('<option>', {value:value.colorID.id, text:value.colorID.phoneColor});
                        $("#colorName").append(colorOption);
                    });

                }
            });
        }
        function addColorChange(){
            $.ajax({
                url:"{{ path('allCapacityByModel') }}",
                method: "post",
                data:{
                    "modelNameID": document.getElementById("modelName").value,
                    "colorNameID": document.getElementById("colorName").value
                },
                success:function (result){
                    $("#capacity").html("");
                    $("#capacity").prop('disabled', false);
                    var defaultVal = $('<option>', {value:"", text:"Válassz kapacitást!"});
                    $("#capacity").append(defaultVal);
                    $.each(result, function (key,value){
                        var capacityOption = $('<option>', {value:value.capacityID.id, text:value.capacityID.capacity});
                        $("#capacity").append(capacityOption);
                    });
                }
            });
        }
        function searchFilter() {
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("dataTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[3];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock %}

