{# @var orderedPhones \App\Entity\Order[] #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('assets/css/bill.css') }}">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}

    {% block jquery %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}

    {% block javascripts %}

    {% endblock %}
</head>
<body>
{% block body %}
    {% set whName = "" %}
    {% set address = "" %}
    {% set vatNumber = "" %}
    {% set client = "" %}
    {% set clientPostal = "" %}
    {% set clientSettlement = "" %}
    {% set clientAddress = "" %}
    {% set clientVat = "" %}
    {% set orderNumber = "" %}
    {% for data in orderedPhones %}
        {% set whName = data.warehouseID.whName %}
        {% set address = data.warehouseID.location %}
        {% set vatNumber = data.warehouseID.vatNumber %}
        {% set client = data.clientID.clientName %}
        {% set clientPostal = data.clientID.deliveryID.settlementID.postalCode %}
        {% set clientSettlement = data.clientID.deliveryID.settlementID.settlementName %}
        {% set clientAddress = data.clientID.deliveryID.address %}
        {% set clientVat = data.clientID.vatNumber %}
        {% set orderNumber = data.orderNumber %}
    {% endfor %}
    <div class="container">
        <div class="row">
        </div>
        <div class="bg-light" style="border-style: solid;width: 100% !important;">
            <div class="row" style="margin:auto;">
                <div class="col">
                    <h3 class="text-uppercase fw-bold"><i class="fa fa-mobile" style="font-size: 40px;transform: rotate(-21deg);padding-right: 15px;"></i>IStorage</h3>
                </div>
                <div class="col d-flex justify-content-center">
                    <h1 class="text-uppercase text-center" style="padding-bottom: 40px;">Számla</h1>
                </div>
                <div class="col">
                    <p class="text-end" style="margin-bottom: 1px;">Rendelési azonosító:</p>
                    <p class="fw-bold text-end">{{ orderNumber }}</p>
                </div>
            </div>
            <div class="row" style="margin:auto;background: rgba(177,233,254,0.6);">
                <div class="col d-flex align-items-center">
                    <h6>Számla kiállító adatai:<br></h6>
                </div>
                <div class="col d-flex align-items-center">
                    <h6>Vevő adatai:<br></h6>
                </div>
            </div>
            <div class="row" style="margin:auto;">
                <div class="col">
                    <p class="fw-bold" style="margin-bottom: 0 !important;">{{ whName }}</p>
                    <p style="margin-bottom: 0 !important;">Cím: {{ address }}</p>
                    <p>Adószám: {{ vatNumber }}</p>
                </div>
                <div class="col">
                    <p class="fw-bold" style="margin-bottom: 0 !important;">{{ client }}</p>
                    <p style="margin-bottom: 0 !important;">Cím: {{ clientPostal }} {{ clientSettlement }}, {{ clientAddress }}</p>
                    <p>Adószám:&nbsp;{{ clientVat }}</p>
                </div>
            </div>
            <div class="row" style="margin:auto;background: rgba(177,233,254,0.6);">
                <div class="col d-flex justify-content-center align-items-center">
                    <h6>Fizetési mód<br></h6>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <h6>Számla kelte</h6>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <h6>Teljesítés időpontja<br></h6>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <h6>Fizetési határidő</h6>
                </div>
            </div>
            {% set datetime = date('')|date("Y/m/d") %}
            <div class="row" style="margin:auto;background: rgba(249,12,12,0);">
                <div class="col d-flex justify-content-center align-items-center">
                    <h6>Átutalás</h6>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <h6>{{ datetime }}</h6>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <h6>{{ datetime }}<br></h6>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <h6>{{ datetime|date_modify('+1 day')|date("Y/m/d")}}<br></h6>
                </div>
            </div>

            <div class="row" style="margin:auto;background: rgba(177,233,254,0);">
                <table>
                    {% set fullPrice = 0 %}
                    <tr style="text-align: center !important;background: rgba(177,233,254,0.6);">
                        <th>Termék</th>
                        <th>Mennyiség</th>
                        <th>Nettó egységár</th>
                        <th>ÁFA</th>
                        <th>Nettó</th>
                    </tr>
                    {% for data in orderedPhones %}
                        <tr style="text-align: center !important;" >
                            <td>{{ data.phoneID.brandID.brandName }}
                                {{ data.phoneID.modelID.modelName }}
                                {{ data.phoneID.colorID.phoneColor }}
                                {{ data.phoneID.capacityID.capacity }} GB
                            </td>
                            <td>{{ data.amount }}</td>
                            <td>{{ data.price }}</td>
                            <td>0%</td>
                            {% set deviceFullPrice = data.price * data.amount %}
                            <td>{{ deviceFullPrice }} Ft</td>
                        </tr>
                        {% set fullPrice = fullPrice + deviceFullPrice %}
                    {% endfor %}
                </table>
            </div>
            <div class="row" style="margin:auto;background: rgba(177,233,254,0.6);">
                <div class="col offset-md-0 d-flex justify-content-end align-items-center">
                    <h5 class="fw-bold">Fizetendő összeg</h5>
                </div>
            </div>
            <div class="row" style="margin:auto;">
                <div class="col d-flex justify-content-end align-items-center">
                    <p>{{ fullPrice }} Ft</p>
                </div>
            </div>
            <div class="row" style="margin:auto;background: rgba(249,12,12,0);">
                <div class="col d-flex justify-content-center align-items-center">
                    <h4 class="w-100" style="margin-top: 50px;">Köszönjük a vásárlást!</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>