{# @var orderedPhones \App\Entity\Order[] #}
<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="utf-8" content="hu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">    
    <title>IStorage Szamla</title>    
</head>
{% set whName = "" %}
{% set address = "" %}
{% set vatNumber = "" %}
{% set client = "" %}
{% set clientCountry = "" %}
{% set clientRegion = "" %}
{% set clientPostal = "" %}
{% set clientSettlement = "" %}
{% set clientAddress = "" %}
{% set clientVat = "" %}
{% set orderNumber = "" %}
{% for data in orderedPhones %}
    {% set whName = data.warehouseID.whName %}
    {% set address = data.warehouseID.location %}
    {% set vatNumber = data.warehouseID.vatNumber %}
    {% set client = data.clientID.clientName %}
    {% set clientCountry = data.clientID.deliveryID.settlementID.regionID.countryID.countryName %}
    {% set clientRegion = data.clientID.deliveryID.settlementID.regionID.regionName %}
    {% set clientPostal = data.clientID.deliveryID.settlementID.postalCode %}
    {% set clientSettlement = data.clientID.deliveryID.settlementID.settlementName %}
    {% set clientAddress = data.clientID.deliveryID.address %}
    {% set clientVat = data.clientID.vatNumber %}
    {% set orderNumber = data.orderNumber %}
{% endfor %}
<body style="font-family: DejaVu Sans !important;">
    {% block body %}
        <div class="container">
            <table  style="width: 100%;table-layout: fixed;">
                <tr>
                    <td>
                        <h1 style="text-transform: uppercase;text-align: left;">Számla</h1>
                    </td>
                    <td style="text-align: right;">
                        <p>Rendelési azonosító <br><span style="padding-right:1.6rem;">{{ orderNumber }}</span></p>

                    </td>
                </tr>
            </table>
            <table cellspacing="0" style="width: 100%;table-layout: fixed;">
                <tr style="background: rgba(177,233,254,0.6) !important;line-height: 25px !important;border-style: hidden; ">
                    <th style="text-align: left; padding-left: 10px;">
                        Számla kiállító adatai:
                    </th>
                    <th style="text-align: left; padding-left: 10px;">
                        Vevő adatai:
                    </th>
                </tr>
                <tr>
                    <td style="padding-left: 10px; margin-top:1px;">
                        <span style="font-weight: bold">{{ whName }}</span><br>
                        Cím: {{ address }}<br>
                        Adószám: {{ vatNumber }}
                    </td>
                    <td style="padding-left: 10px; margin-top:1px;">
                        <span style="font-weight: bold">{{ client }}</span><br>
                        Cím: {{ clientPostal }} {{ clientSettlement }}, {{ clientAddress }}<br>
                        Adószám: {{ clientVat }}
                    </td>
                </tr>
            </table>
            <table cellspacing="0" style="width: 100%;table-layout: fixed;">
                <tr style="background: rgba(177,233,254,0.6) !important;line-height: 25px !important; ">
                    <th style="text-align: left; padding-left: 10px;">
                        Szállítási cím
                    </th>
                </tr>
                <tr style="line-height: 25px !important; ">
                    <td style="text-align: left; padding-left: 10px;">
                        <span>{{ clientCountry|upper }}</span> {{ clientRegion }}, {{ clientPostal }} {{ clientSettlement }}, {{ clientAddress }}
                    </td>
                </tr>

            </table>
            <table cellspacing="0" style="width: 100%;table-layout: fixed;">
                <tr style="background: rgba(177,233,254,0.6) !important;line-height: 25px !important; ">
                    <th style="text-align: left; padding-left: 10px;">
                        Fizetési mód
                    </th>
                    <th style="text-align: left; padding-left: 10px;">
                        Számla kelte
                    </th>
                    <th style="text-align: left; padding-left: 10px;">
                        Teljesítés időpontja
                    </th>
                    <th style="text-align: left; padding-left: 10px;">
                        Fizetési határidő
                    </th>
                </tr>
                {% set datetime = date('')|date("Y/m/d") %}
                <tr style="line-height: 25px !important; ">
                    <td style="text-align: left; padding-left: 10px;margin-top:1px;">
                        Átutalás
                    </td>
                    <td style="text-align: left; padding-left: 10px;margin-top:1px;">
                        {{ datetime }}
                    </td>
                    <td style="text-align: left; padding-left: 10px;margin-top:1px;">
                        {{ datetime }}
                    </td>
                    <td style="text-align: left; padding-left: 10px;margin-top:1px;">
                        {{ datetime|date_modify('+1 day')|date("Y/m/d")}}
                    </td>
                </tr>
            </table>
            <table cellspacing="0" style="width: 100%;table-layout: fixed;">
                {% set fullPrice = 0 %}
                <tr style="background: rgba(177,233,254,0.6) !important;line-height: 25px !important; text-align: center;">
                    <th>
                        Termék
                    </th>
                    <th>
                        Mennyiség
                    </th>
                    <th>
                        Nettó egységár
                    </th>
                    <th>
                        ÁFA
                    </th>
                    <th>
                        Nettó
                    </th>
                </tr>
                {% set counter = 0 %}
                {% for data in orderedPhones %}
                    {% set counter = counter + 1 %}
                    <tr style="line-height: 25px !important; text-align: center;border-bottom:1px solid gainsboro;">

                        <td>{{ counter }}. {{ data.phoneID.brandID.brandName }}
                            {{ data.phoneID.modelID.modelName }}
                            {{ data.phoneID.colorID.phoneColor }}
                            {{ data.phoneID.capacityID.capacity }} GB
                        </td>
                        <td>{{ data.amount }}</td>
                        <td>{{ data.price }}</td>
                        <td>0%</td>
                        {% set deviceFullPrice = data.price * data.amount %}
                        <td>{{ deviceFullPrice }} Ft</td>
                    </tr>
                    {% set fullPrice = fullPrice + deviceFullPrice %}
                {% endfor %}
            </table>
            <table cellspacing="0" style="width: 100%;table-layout: fixed;">
                <tr style="background: rgba(177,233,254,0.6) !important;line-height: 25px !important;text-align: right !important;">
                    <th style="padding-right: 15px;text-align: right !important;">Nettó összeg</th>
                </tr>
                <tr style="line-height: 25px !important;text-align: right;">
                    <td style="padding-right: 15px !important;">{{ fullPrice }} Ft</td>
                </tr>
                <tr style="line-height: 25px !important;text-align: right;">
                    <td style="padding-right: 15px !important;">+0% VAT: 0 Ft</td>
                </tr>
                <tr style="line-height: 25px !important;text-align: right;">
                    <td style="padding-right: 15px !important;">Végösszeg: {{ fullPrice }} Ft</td>
                </tr>

            </table>
            <table style="width: 100%;table-layout: fixed;">
                <tr>
                    <td>
                        <h3 class="w-100" style="">Köszönjük a vásárlást!</h3>
                    </td>
                </tr>
            </table>
            <table style="width: 100%;table-layout: fixed;">
                <tr>
                    <td>
                        <h1 class="w-100" style="margin-top: 50px;text-align: right;">IStorage</h1>
                    </td>
                </tr>
            </table>
        </div>
    {% endblock %}
</body>

</html>