{% extends 'base.html.twig' %}
{# @var stocks \App\Entity\Stock[] #}

{% block title %}
    Készlet - PDF
{% endblock %}

{% block body %}
    <h1 style="margin-bottom: 5px; text-align: center;">Megrendelt telefonok adatai</h1><br>
    <div>
        <table border="1" style="margin: auto;">
            <thead>
            <tr>
                <th>Mennyiség</th>
                <th>Beszerzési ár</th>
                <th>Telefon</th>
                <th>Raktár</th>
                <th>Státusz</th>
                <th>Dátum</th>
                <th>Felhasználó</th>
            </tr>
            </thead>
            <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.amount }}</td>
                    <td>{{ stock.purchasePrice }}</td>
                    <td>
                        <span>{{ stock.phoneID.brandID.brandName }} </span>
                        <span>{{ stock.phoneID.modelID.modelName }} </span>
                        <span>{{ stock.phoneID.colorID.phoneColor }} </span>
                        <span>{{ stock.phoneID.capacityID.capacity }} GB </span>
                    </td>
                    <td>{{ stock.warehouseID.whName }}</td>
                    <td>{{ stock.statusID.status }}</td>
                    <td>{{ stock.date|date('Y-m-d H:i:s') }}</td>
                    <td>{{ stock.userID.username }} ({{ stock.userID.roles[0] }})</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr></tr>
            </tfoot>
        </table>
    </div>
{% endblock %}