{% extends 'index.html.twig' %}

{# @var stocks \App\Entity\Stock[] #}
{% block content %}
    <div class="container-fluid">
        <div class="alert alert-{{ resultColor }}" role="alert">
            <span class="fw-bold">{{ resultMessage }}</span>
        </div>
        <h3 class="text-dark mb-4">Megrendelt eszközök</h3>
        <div class="card shadow" style="background: rgba(255,255,255,0.5);margin-bottom: 5%;">
            <div class="card-header py-3" style="background: rgb(0,50,71);color: rgb(255,255,255);">
                <h5>Szűréshez kövesse a kért utasításokat!<br></h5>
                <div class="row d-flex align-items-center text-center">
                    <form action="{{ path('orderedStock') }}" method="post">
                        <div class="row d-flex align-items-center text-center">
                            <div class="col-3">
                                <select name="brands" id="brands" class="w-100 showSelect" onchange="filterBrandChanged()">
                                    <option value="">Válassz márkát!</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <select name="models" id="models" class="showSelect" onchange="filterModellChanged()"></select>
                            </div>
                            <div class="col-2">
                                <select name="colors" id="colors" class="showSelect" onchange="filterColorChanged()"></select>
                            </div>
                            <div class="col-2">
                                <select name="capacities" id="capacities" class="showSelect" onchange="filterCapacityChanged()"></select>
                            </div>
                            <div class="col-2">
                                <button id="szures" class="btn buttonDesign w-100">Szűrés</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body" style="background: rgba(255,255,255,0.5);">
                <div class="row">
                    <div class="col-md-6 text-nowrap">
                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">Show&nbsp;<select class="d-inline-block form-select form-select-sm showSelect">
                                    <option value="10" selected="">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>&nbsp;</label></div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end dataTables_filter" id="dataTable_filter">
                            <a href="{{ path('generateOrderedExcel') }}" class="btn btn-primary buttonDesign" type="button">Excel</a>
                            <a href="{{ path('generateOrderedPDF') }}" class="btn btn-primary buttonDesign" type="button">PDF</a>
                            <button onclick="addingStock()" class="btn btn-primary buttonDesign" type="button" data-bs-target="#addOrder" data-bs-toggle="modal">Hozzáadás</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive table mt-2" id="dataTable" role="grid" >
                    <table class="table my-0" id="dataTable">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Mennyiség</th>
                            <th>Beszerzési ár</th>
                            <th>Telefon</th>
                            <th>Raktár</th>
                            <th>Megrendelve</th>
                            <th>Partner</th>
                            <th>Felhasználó</th>
                            <th>Műveletek</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set counter = 0 %}
                        {% for stock in stocks %}
                            {% if stock.statusID.status == "Megrendelve" %}
                                <tr id="{{ counter }}">
                                    <td id="id{{ counter }}">{{ stock.id }}</td>
                                    <td id="amount{{ counter }}">{{ stock.amount }}</td>
                                    <td id="purchasePrice{{ counter }}">{{ stock.purchasePrice }}</td>
                                    <td>
                                        <span id="brand{{ counter }}">{{ stock.phoneID.brandID.brandName }} </span>
                                            <span class="d-none" id="brandID{{ counter }}">{{ stock.phoneID.brandID.id }}</span>
                                        <span id="model{{ counter }}">{{ stock.phoneID.modelID.modelName }} </span>
                                            <span class="d-none" id="modelID{{ counter }}">{{ stock.phoneID.modelID.id }}</span>
                                        <span id="color{{ counter }}">{{ stock.phoneID.colorID.phoneColor }} </span>
                                            <span class="d-none" id="colorID{{ counter }}">{{ stock.phoneID.colorID.id }}</span>
                                        <span id="phoneCapacity{{ counter }}">{{ stock.phoneID.capacityID.capacity }} GB </span>c
                                            <span class="d-none" id="phoneCapacityID{{ counter }}">{{ stock.phoneID.capacityID.id }}</span>
                                    </td>
                                    <td id="warehouse{{ counter }}">
                                        {{ stock.warehouseID.whName }}
                                        <span class="d-none" id="whID{{ counter }}">{{ stock.warehouseID.id }}</span>
                                    </td>
                                    <span class="d-none" id="statusID{{ counter }}">{{ stock.statusID.id }}</span>
                                    <td id="date{{ counter }}">{{ stock.date|date('Y-m-d H:i:s') }}</td>
                                    <td id="client{{ counter }}">
                                        {{ stock.clientID.clientName }}
                                        <span class="d-none" id="clientID{{ counter }}">{{ stock.clientID.id }}</span>
                                    </td>
                                    <td id="user{{ counter }}">{{ stock.userID.username }} ({{ stock.userID.roles[0] }})</td>
                                    <td>
                                        <button id="btn{{ counter }}" class="btn btn-primary buttonDesign" type="button" data-bs-target="#updateOrder" data-bs-toggle="modal" onclick="updateItem(this.id)"><i class="fas fa-edit operationIcon"></i></button>
                                    </td>
                                </tr>
                            {% endif %}
                            {% set counter = counter + 1 %}
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr></tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                    </div>
                    <div class="col-md-6">
                        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer class="bg-white sticky-footer" style="background: #1e2833 !important;"></footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="updateOrder">
        <div class="modal-dialog modal-lg modal-fullscreen-lg-down" role="document">
            <div class="modal-content">
                <div class="modal-header modalHeaderFooter">
                    <h5 class="w-100 text-center"><strong>Megrendelt eszköz módosítása</strong><br></h5><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="updateForm" action="{{ path('updateOrderedStock', {"stockId": "id"}) }}" method="post">
                    <div class="modal-body modalBody">
                        <div class="card shadow mb-3" style="background: rgba(255,255,255,0.5);">
                            <div class="card-body" style="background: rgba(255,255,255,0.5);">
                                    <div class="row">
                                        <div class="col col-12">
                                            <label class="form-label" for="updateClient"><strong>Partner</strong></label>
                                            <div class="input-group mb-3">
                                                <select name="updateClient" id="updateClient" class="form-select orderSelect" required></select>
                                                <div class="input-group-append">
                                                    <a style="border-radius: 0 !important;" href="{{ path('allClients') }}"  class="btn buttonDesign">+</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col col-sm-6 col-12">
                                                <label class="form-label" for="updateBrand"><strong>Márka</strong></label>
                                                <div class="input-group mb-3">
                                                    <select name="updateBrand" id="updateBrand" class="form-select orderSelect" onchange="updateBrandChange()" required></select>
                                                    <div class="input-group-append">
                                                        <a style="border-radius: 0 !important;" href="{{ path('addPhone') }}"  class="btn buttonDesign">+</a>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="col col-sm-6 col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="updateModel"><strong>Model</strong><br></label>
                                                <select name="updateModel" id="updateModel" class="form-select orderSelect" onchange="updateModellChange()" required>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col col-sm-6 col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="updateColor"><strong>Szín</strong><br></label>
                                                <select name="updateColor" id="updateColor" class="form-select orderSelect" onchange="updateColorChange()" required></select>
                                            </div>
                                        </div>
                                        <div class="col col-sm-6 col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="updateCapacity"><strong>Kapacitás</strong><br></label>
                                                <select name="updateCapacity" id="updateCapacity" class="form-select orderSelect" required></select>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label class="form-label" for="updateWarehouse"><strong>Raktár</strong><br></label>
                                            <select name="updateWarehouse" id="updateWarehouse" class="form-select orderSelect"></select>
                                        </div>
                                        <div class="col col-sm-6 col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="updateAmount"><strong>Mennyiség</strong><br></label>
                                                <input class="form-control" type="number" id="updateAmount" name="updateAmount">
                                            </div>
                                        </div>
                                        <div class="col col-sm-6 col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="updatePrice"><strong>Beszerzési ár</strong><br></label>
                                                <input class="form-control" type="number" id="updatePrice" name="updatePrice">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3"><label class="form-label" for="updateStatus"><strong>Státusz</strong><br></label>
                                                <select class="form-select orderSelect" name="updateStatus" id="updateStatus"></select>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer modalHeaderFooter">
                        <button class="btn btn-light modalCloseButton" type="button" data-bs-dismiss="modal">Bezárás</button>
                        <button class="btn btn-primary modalSaveButton" type="submit">Mentés</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="addOrder">
        <div class="modal-dialog modal-xl modal-fullscreen-xl-down" role="document">
            <div class="modal-content">
                <div class="modal-header modalHeaderFooter">
                    <h5 class="w-100 text-center"><strong>Készülék rendelése</strong></h5><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{{ path('addStock') }}" method="post">
                    <div class="modal-body modalBody">
                        <div class="card shadow mb-3" style="background: rgba(255,255,255,0.5);">
                            <div class="card-body" style="background: rgba(255,255,255,0.5);">
                                <div class="row">
                                    <div class="col col-12">
                                        <label class="form-label" for="clientName"><strong>Ügyfél</strong></label>
                                        <div class="input-group mb-3">
                                            <select name="clientName" id="clientName" class="form-select orderSelect" required>
                                                <option value="">Válassz ügyfelet!</option>
                                            </select>
                                            <div class="input-group-append">
                                                <a style="border-radius: 0 !important;" href="{{ path('allClients') }}"  class="btn buttonDesign">+</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-sm-6 col-12">
                                        <label class="form-label" for="brandName"><strong>Márka</strong></label>
                                        <div class="input-group mb-3">
                                            <select name="brandName" id="brandName" class="form-select orderSelect" onchange="addBrandChange()" required>
                                            </select>
                                            <div class="input-group-append">
                                                <a style="border-radius: 0 !important;" href="{{ path('addPhone') }}"  class="btn buttonDesign">+</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-sm-6 col-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="modelName"><strong>Modell</strong><br></label>
                                            <select name="modelName" id="modelName" class="form-select orderSelect" onchange="addModellChange()" required>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col col-sm-6 col-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="colorName"><strong>Szín</strong><br></label>
                                            <select name="colorName" id="colorName" class="form-select orderSelect" onchange="addColorChange()" required></select>
                                        </div>
                                    </div>
                                    <div class="col col-sm-6 col-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="capacity"><strong>Kapacitás</strong><br></label>
                                            <select name="capacity" id="capacity" class="form-select orderSelect" required></select>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="warehouse"><strong>Raktár</strong><br></label>
                                        <select name="warehouse" id="warehouse" class="form-select orderSelect" required></select>
                                    </div>
                                    <div class="row">
                                        <div class="col col-sm-6 col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="amount"><strong>Mennyiség</strong><br></label>
                                                <input class="form-control" type="number" id="amount" name="amount" required>
                                            </div>
                                        </div>
                                        <div class="col col-sm-6 col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="purchase"><strong>Beszerzési ár</strong><br></label>
                                                <input class="form-control" type="text" id="purchase" name="purchase" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer modalHeaderFooter">
                        <button class="btn btn-light modalCloseButton" type="button" data-bs-dismiss="modal">Bezárás</button>
                        <button class="btn btn-primary modalSaveButton" type="submit">Hozzáadás</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <script src="{{ asset('assets/bootstrap/js/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function (){
            $.ajax({
                url: "{{ path('allWarehouse') }}",
                success: function (eredmeny){
                    $.each(eredmeny, function (key,value){
                        var warehouseOption = $('<option>', {value:value.id, text:value.whName});
                        $('#warehouse').append(warehouseOption);
                    });
                }
            });
            $("#alertClientInf").hide();
            $("#models").hide();
            $("#colors").hide();
            $("#capacities").hide();
            $("#szures").hide();
            $.ajax({
                url: "{{ path('allOrderedBrand') }}",
                success: function (result){
                    $.each(result, function (key,value){
                        var brandOption = $('<option>', {value:value.phoneID.brandID.id, text:value.phoneID.brandID.brandName});
                        $("#brands").append(brandOption);
                    });
                }
            });

        });
        var rowId="";
        function updateItem(rowId){
            rowId = rowId.replace("btn","");
            id = document.getElementById("id"+rowId).innerHTML;
            capacity = document.getElementById("phoneCapacity"+rowId).innerHTML.replace("GB", "");
            document.getElementById("updateAmount").value = document.getElementById("amount"+rowId).innerHTML;
            document.getElementById("updatePrice").value = document.getElementById("purchasePrice"+rowId).innerHTML;
            document.getElementById("updateBrand").value = document.getElementById("brand"+rowId).innerHTML;
            document.getElementById("updateModel").value = document.getElementById("model"+rowId).innerHTML;
            document.getElementById("updateColor").value = document.getElementById("color"+rowId).innerHTML;
            document.getElementById("updateCapacity").value = parseInt(capacity);

            $("#updateStatus").html("");
            $("#updateClient").html("");
            $("#updateWarehouse").html("");
            $("#updateBrand").html("");
            $("#updateModel").prop('disabled', 'disabled');
            $("#updateColor").prop('disabled', 'disabled');
            $("#updateCapacity").prop('disabled', 'disabled');

            $.ajax({
                url: "{{ path('allWarehouse') }}",
                success: function (result){
                    $.each(result, function (key,value){
                        var warehouseOption = $('<option>', {value:value.id, text:value.whName});
                        $('#warehouse').append(warehouseOption);
                        $('#updateWarehouse').append(warehouseOption);
                    });
                    document.getElementById("updateWarehouse").value = document.getElementById("whID"+rowId).innerHTML;
                }
            });

            $.ajax({
                url: "{{ path('allStatus') }}",
                success: function (result){
                    $.each(result, function (key,value){
                        var statusOption = $('<option>',{ value: value.id, text: value.status});
                        $("#updateStatus").append(statusOption);
                    });
                    document.getElementById("updateStatus").value = document.getElementById("statusID"+rowId).innerHTML;
                    var url = document.getElementById("updateForm").action;
                    var newUrl = url.replace("id", parseInt(id));
                    document.getElementById("updateForm").action = newUrl;
                    $("#updateOrder").show();
                }
            });

            $.ajax({
                url:"{{ path('selectAllClients') }}",
                method: "post",
                success: function (result){
                    $.each(result, function (key,value){
                        var clientOption = $('<option>', {value:value.id, text:value.clientName});
                        $("#updateClient").append(clientOption);
                    });
                    document.getElementById("updateClient").value = document.getElementById("clientID"+rowId).innerHTML;
                    console.log(document.getElementById("updateClient").value);
                }
            });
            $.ajax({
                url:"{{ path('allBrands') }}",
                method: "post",
                success: function (result){
                    $.each(result, function (key,value){
                        var brandOption2 = $('<option>', {value:value.id, text:value.brandName});
                        $("#updateBrand").append(brandOption2);
                    });
                    document.getElementById("updateBrand").value = document.getElementById("brandID"+rowId).innerHTML;
                    document.getElementById("updateModel").options.value = document.getElementById("modelID"+rowId).innerHTML;
                    document.getElementById("updateModel").options.innerHTML = document.getElementById("model"+rowId).innerHTML;
                }
            });
        }
        function updateBrandChange(){
            $.ajax({
                url:"{{ path('allModelByBrand') }}",
                method: "post",
                data:{
                    "brandNameID": document.getElementById("updateBrand").value
                },
                success:function (result){
                    $("#updateModel").html("");
                    $("#updateModel").prop('disabled', false);
                    $.each(result, function (key,value){
                        var modelOption = $('<option>', {value:value.modelID.id, text:value.modelID.modelName});
                        $("#updateModel").append(modelOption);
                    });
                    document.getElementById("updateModel").value = document.getElementById("modelID"+rowId).innerHTML;
                }
            });
        }
        function updateModellChange(){
            $.ajax({
                url:"{{ path('allColorByModel') }}",
                method: "post",
                data:{
                    "modelNameID": document.getElementById("updateModel").value
                },
                success:function (result){
                    $("#updateColor").html("");
                    $("#updateColor").prop('disabled', false);
                    $.each(result, function (key,value){
                        var colorOption = $('<option>', {value:value.colorID.id, text:value.colorID.phoneColor});
                        $("#updateColor").append(colorOption);
                    });
                    document.getElementById("updateColor").value = document.getElementById("colorID"+rowId).innerHTML;
                }
            });
        }
        function updateColorChange(){
            $.ajax({
                url:"{{ path('allCapacityByColor') }}",
                method: "post",
                data:{
                    "colorNameID": document.getElementById("updateColor").value
                },
                success:function (result){
                    $("#updateCapacity").html("");
                    $("#updateCapacity").prop('disabled', false);
                    $.each(result, function (key,value){
                        var capacityOption = $('<option>', {value:value.capacityID.id, text:value.capacityID.capacity});
                        $("#updateCapacity").append(capacityOption);
                    });
                    document.getElementById("updateCapacity").value = document.getElementById("phoneCapacityID"+rowId).innerHTML;
                }
            });
        }

        function addingStock(){
            $("#clientName").html("");
            $("#brandName").html("");
            $("#modelName").prop('disabled', 'disabled');
            $("#colorName").prop('disabled', 'disabled');
            $("#capacity").prop('disabled', 'disabled');
            $.ajax({
                url:"{{ path('allBrands') }}",
                method: "post",
                success: function (result){
                    var defaultVal = $('<option>', {value:"", text:"Válassz márkát!"});
                    $("#brandName").append(defaultVal);
                    $.each(result, function (key,value){
                        var brandOption = $('<option>', {value:value.id, text:value.brandName});
                        $("#brandName").append(brandOption);
                    });
                }
            });
            $.ajax({
                url:"{{ path('selectAllClients') }}",
                method: "post",
                success: function (result){
                    var defaultVal = $('<option>', {value:"", text:"Válassz ügyfelet!"});
                    $("#clientName").append(defaultVal);
                    $.each(result, function (key,value){
                        var clientOption = $('<option>', {value:value.id, text:value.clientName});
                        $("#clientName").append(clientOption);
                    });
                }
            });
        }

        function addBrandChange(){
            $.ajax({
                url:"{{ path('allModelByBrand') }}",
                method: "post",
                data:{
                    "brandNameID": document.getElementById("brandName").value
                },
                success:function (result){
                    $("#modelName").html("");
                    $("#modelName").prop('disabled', false);
                    $("#colorName").prop('disabled', 'disabled');
                    $("#capacity").prop('disabled', 'disabled');
                    var defaultVal = $('<option>', {value:"", text:"Válassz modellt!"});
                    $("#modelName").append(defaultVal);
                    $.each(result, function (key,value){
                        var modelOption = $('<option>', {value:value.modelID.id, text:value.modelID.modelName});
                        $("#modelName").append(modelOption);
                    });
                }
            });
        }
        function addModellChange(){
            $.ajax({
                url:"{{ path('allColorByModel') }}",
                method: "post",
                data:{
                    "modelNameID": document.getElementById("modelName").value
                },
                success:function (result){
                    $("#colorName").html("");
                    $("#colorName").prop('disabled', false);
                    var defaultVal = $('<option>', {value:"", text:"Válassz színt!"});
                    $("#colorName").append(defaultVal);
                    $.each(result, function (key,value){
                        var colorOption = $('<option>', {value:value.colorID.id, text:value.colorID.phoneColor});
                        $("#colorName").append(colorOption);
                    });
                }
            });
        }
        function addColorChange(){
            $.ajax({
                url:"{{ path('allCapacityByColor') }}",
                method: "post",
                data:{
                    "colorNameID": document.getElementById("colorName").value
                },
                success:function (result){
                    $("#capacity").html("");
                    $("#capacity").prop('disabled', false);
                    var defaultVal = $('<option>', {value:"", text:"Válassz kapacitást!"});
                    $("#capacity").append(defaultVal);
                    $.each(result, function (key,value){
                        var capacityOption = $('<option>', {value:value.capacityID.id, text:value.capacityID.capacity});
                        $("#capacity").append(capacityOption);
                    });
                }
            });
        }

        function filterBrandChanged(){
            $("#models").show();
            $("#colors").hide();
            $("#capacities").hide();
            $("#szures").hide();
            $.ajax({
                url: "{{ path('allOrderedModel') }}",
                method: "post",
                data:{
                    "brandID":document.getElementById("brands").value
                },
                success: function (result){
                    $("#models").find("option").remove();
                    var defaultVal = $('<option>', {value:"", text:"Válassz modelt"});
                    $("#models").append(defaultVal);
                    $.each(result, function (key,value){
                        var modelOption = $('<option>', {value:value.phoneID.modelID.id, text:value.phoneID.modelID.modelName});
                        $("#models").append(modelOption);
                    });
                }

            });
        }

        function filterModellChanged(){
            $("#colors").show();
            $("#capacities").hide();
            $("#szures").hide();
            $.ajax({
                url: "{{ path('allOrderedColor') }}",
                method: "post",
                data:{
                    "modelID":document.getElementById("models").value
                },
                success: function (result){
                    console.log(result);
                    $("#colors").find("option").remove();
                    var defaultVal = $('<option>', {value:"", text:"Válassz színt"});
                    $("#colors").append(defaultVal);
                    $.each(result, function (key,value){
                        var colorOption = $('<option>', {value:value.phoneID.colorID.id, text:value.phoneID.colorID.phoneColor});
                        $("#colors").append(colorOption);
                    });
                }

            });
        }

        function filterColorChanged(){
            $("#capacities").show();
            $("#szures").hide();
            $.ajax({
                url: "{{ path('allOrderedCapacity') }}",
                method: "post",
                data:{
                    "colorID":document.getElementById("colors").value
                },
                success: function (result){
                    $("#capacities").find("option").remove();
                    var defaultVal = $('<option>', {value:"", text:"Válassz méretet!"});
                    $("#capacities").append(defaultVal);
                    $.each(result, function (key,value){
                        var capacityOption = $('<option>', {value:value.phoneID.capacityID.id, text:value.phoneID.capacityID.capacity});
                        $("#capacities").append(capacityOption);
                    });
                }

            });
        }

        function filterCapacityChanged(){
            $("#szures").show();
        }




    </script>
{% endblock %}