{% extends 'main.html.twig' %}

{# @var user \App\Entity\User #}
{# @var stocks App\Entity\Stock[] #}
{% block content %}
    <h1>Összes készlet megjelenítése</h1>
    <table border="1">
        <th>Darab</th>
        <th>Beszerzési ár</th>
        <th>Raktár</th>
        <th>Márka</th>
        <th>Model</th>
        <th>Szín</th>
        <th>Kapacitás</th>
        <th>Státusz</th>
        <th>Műveletek</th>
        {% for stock in stocks %}
            {% if stock.statusID.status == "Megrendelve" %}
                <tr>
                    <td>{{ stock.amount }}</td>
                    <td>{{ stock.purchasePrice }}</td>
                    <td>{{ stock.warehouseID.whName }}</td>
                    <td>{{ stock.phoneID.brandID.brandName }}</td>
                    <td>{{ stock.phoneID.modelID.modelName }}</td>
                    <td>{{ stock.phoneID.colorID.phoneColor }}</td>
                    <td>{{ stock.phoneID.capacityId.capacity }}</td>
                    <td>{{ stock.statusID.status }}</td>
                    <td>
                        <a href="{{ path('updateOrderedStock', {"stockId":stock.ID}) }}" class="btn btn-danger">Módosítás</a>
                    </td>
                </tr>

            {% endif %}



        {% endfor %}
    </table>

    <script>
        $(document).ready(function (){
            $.ajax({
                url: "{{ path('allStatus') }}",
                success: function (eredmeny){
                    console.log(eredmeny);
                    $.each(eredmeny, function (key,value){
                        var statusOption = $('<option>',{ value: value.id, text: value.status});
                        $("#status").append(statusOption);
                    });
                }
            });
        });
    </script>

{% endblock %}