{% extends 'index.html.twig' %}

{# @var stocks \App\Entity\Stock[] #}
{% block content %}
    <form action="{{ path('sellingStock') }}"  method="post">
        <div class="container-fluid">
            {{ result }}
            <div class="card shadow" style="background: rgba(255,255,255,0.5);margin-bottom: 5%;">
                <div class="card-header py-3" style="background: #003247;">
                    <h3 class="text-light mb-4">Eladás</h3>
                </div>
                <div class="card-body" style="background: #e6f8fe;">
                    <div class="row">
                        <div class="col-md-4">
                            <select name="clientName" id="clientName" class=" form-select orderSelect showSelect"  onfocus='this.size=3;' onblur='this.size=1;' required>
                            </select>
                        </div>
                        <div class="text-nowrap col-md-8 d-flex align-items-center">
                            <div class="input-group" style="justify-content: end;">
                                <div class="input-group-prepend">
                                    <button style="background: #e6f8fe;opacity: 1; border:solid black; color:black;" disabled><i class="fa fa-search"></i></button>
                                </div>
                                <input type="text" id="myInput" onkeyup="searchFilter()" title="Telefon keresése">
                            </div>
                        </div>

                    </div>
                    <div class="scrollIt table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                        <table class="table table-striped my-0" id="tempTable">
                            <thead class="headerFixed">
                            <tr>
                                <th>ID</th>
                                <th>Mennyiség</th>
                                <th>Beszerzési ár / db</th>
                                <th>Telefon</th>
                                <th>Beérkezett</th>
                                <th>Raktár</th>
                                <th>Hozzáadás</th>
                            </tr>
                            </thead>
                            <tbody >
                            {% set counter = 0 %}
                            {% for stock in stocks %}
                                {% if stock.amount > 0 %}
                                    <tr id="{{ counter }}">
                                        <td id="id{{ counter }}">{{ stock.id }}</td>
                                        <td id="amount{{ counter }}">{{ stock.amount }} </td>
                                        <td id="purchasePrice{{ counter }}">{{ stock.purchasePrice }} </td>
                                        <td>
                                            <span id="brand{{ counter }}">{{ stock.phoneID.brandID.brandName }}</span>
                                            <span class="d-none" id="brandID{{ counter }}">{{ stock.phoneID.brandID.id }}</span>
                                            <span id="model{{ counter }}">{{ stock.phoneID.modelID.modelName }}</span>
                                            <span class="d-none" id="modelID{{ counter }}">{{ stock.phoneID.modelID.id }}</span>
                                            <span id="color{{ counter }}">{{ stock.phoneID.colorID.phoneColor }}</span>
                                            <span class="d-none" id="colorID{{ counter }}">{{ stock.phoneID.colorID.id }}</span>
                                            <span id="phoneCapacity{{ counter }}">{{ stock.phoneID.capacityID.capacity }}GB</span>
                                            <span class="d-none" id="phoneCapacityID{{ counter }}">{{ stock.phoneID.capacityID.id }}</span>
                                        </td>
                                        <td id="date{{ counter }}">{{ stock.date|date('Y-m-d H:i:s') }}</td>
                                        <td id="warehouse{{ counter }}">
                                            {{ stock.warehouseID.whName }}
                                        </td>
                                        <td>
                                            <button id="btn{{ counter }}" class="btn btn-primary buttonDesign" data-bs-target="#orderingModal" data-bs-toggle="modal" type="button" onclick="makeOrder(this.id)">+</button>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% set counter = counter + 1 %}
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr></tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
                <hr style="background: #1a1e21;height: 5px;opacity: 1; margin:0;">
                <div class="card-body" style="background: #e6f8fe;">
                    <div class="scrollIt table-responsive table mt-2" id="sellingTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table table-striped my-0" id="sellingTable">
                            <thead>
                            <tr >
                                <th>ID</th>
                                <th>Mennyiség</th>
                                <th>Eladási ár</th>
                                <th>Raktár</th>
                                <th>Márka</th>
                                <th>Model</th>
                                <th>Szín</th>
                                <th>Kapacitás</th>
                                <th>Dátum</th>
                                <th>Törlés</th>
                            </tr>
                            </thead>
                            <tbody id="sellingTableBody">

                            </tbody>
                            <tfoot>
                            <tr></tr>
                            </tfoot>
                        </table>
                    </div>

                    <h5 class="mx-3" style="text-align: right;font-weight: bold;padding-top: 10px;">Végösszeg: <span id="fullPrice"></span> Ft</h5>
                    <div class="row">
                        <div class="col d-flex justify-content-end">
                            <button id="submitButton" class="btn btn-primary my-4 mx-2 buttonDesign" type="submit" style="width: 30%;" onclick="finishSale()">Elfogadás</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input class="d-none" type="text" id="sellingTableData" name="sellingTableData">
    </form>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
        <div class="modal fade" role="dialog" id="orderingModal">
            <div class="modal-dialog modal-lg modal-fullscreen-lg-down" role="document">
                <div class="modal-content">
                    <div class="modal-header modalHeaderFooter">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body modalBody">
                        <div class="card shadow mb-3" style="background: rgba(255,255,255,0.5);">
                            <div class="card-body" style="background: #e6f8fe;">
                                <div class="row">
                                    <div class="col col-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="numberofdevice"><strong>Mennyiség (max: <span id="maxAmount"></span>)</strong></label>
                                            <input class="form-control" type="number" id="numberofdevice" name="numberofdevice" required>
                                        </div>
                                    </div>
                                    <div class="col col-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="price"><strong>Eladási ár / db</strong></label>
                                            <input class="form-control" type="number" id="price" name="price" required>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light modalCloseButton" type="button" data-bs-dismiss="modal">Bezárás</button>
                        <button onclick="addToList()" class="modalSaveButton btn btn-primary" data-bs-dismiss="modal">Eszköz hozzáadása</button>
                    </div>
                </div>
            </div>


    <script src="{{ asset('assets/bootstrap/js/jquery.min.js') }}"></script>
    <script>
        var id= "";
        var maxAmount = 0;
        var purchasePrice = 0;
        var sellingPrice = 0;

        $(document).ready(function (){
            $("#submitButton").attr('disabled','disabled');
            var defaultVal = $('<option>', {value:"", text:"Válassz ügyfelet!"});
            $("#clientName").append(defaultVal);
            $.ajax({
                url:"{{ path('selectAllClients') }}",
                method: "post",
                success: function (result){
                    $.each(result, function (key,value){
                        var clientOption = $('<option>', {value:value.id, text:value.clientName});
                        $("#clientName").append(clientOption);
                    });
                }
            });
        })

        function searchFilter() {
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("tempTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[3];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        function getTdById(id, type){
            return document.getElementById(type+id).innerHTML;
        }
        function setTdById(id, type, value){
            return document.getElementById(type+id).innerHTML = value;
        }
        function makeOrder(rowId){
            rowId = rowId.replace("btn", "");
            id = rowId;
            maxAmount = document.getElementById("amount"+rowId).innerHTML;
            sellingPrice = document.getElementById("purchasePrice"+rowId).innerHTML;
            document.getElementById("maxAmount").innerHTML = maxAmount;
            document.getElementById("price").value = parseInt(sellingPrice);
        }
        var counter = 0;
        var tempPrice = 0;
        var tempCounter = 0;
        var inSell = false;
        function addToList() {
            var amount = document.getElementById("numberofdevice").value;
            console.log(typeof amount);
            var salePrice = document.getElementById("price").value;
            if (parseFloat(maxAmount) < parseFloat(amount)) {
                alert("Ebből a készülékből összesen nincsen ennyi darab a raktáron!");
            }else if(parseFloat(amount) === 0 || parseFloat(amount) < 0 || amount.length == 0){
                alert("Rossz darabszámot adott meg! 0-nál nagyobb kell a hozzáadáshoz!");
            }else if(maxAmount === 0 || maxAmount < 0){
                alert("Ebből a készülékből nincsen több a raktáron!");
            }else {
                var sellTable = document.getElementById("sellingTableBody");
                inSell = false;
                var tID = 0;
                for (let i in sellTable.rows) {
                    let row = sellTable.rows[i];
                    if (row.id != null && row.id !== "") {
                        var ID = row.id;
                        temp = ID.replace("sellTable", "");
                        if (temp === id) {
                            tID = temp;
                            inSell = true;
                        }
                    }
                }
                if (inSell) {
                    var tempAmount = parseFloat(getTdById(tID, "sellAmount")) + parseFloat(amount);
                    setTdById(tID, "sellAmount", tempAmount);
                } else {
                    $("#submitButton").attr('disabled',false);
                    var row = sellTable.insertRow();
                    row.id = "sellTable" + id;
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    var cell4 = row.insertCell(3);
                    var cell5 = row.insertCell(4);
                    var cell6 = row.insertCell(5);
                    var cell7 = row.insertCell(6);
                    var cell8 = row.insertCell(7);
                    var cell9 = row.insertCell(8);
                    var cell10 = row.insertCell(9);
                    tempCounter = counter;
                    cell1.innerHTML = getTdById(id, "id");
                    cell1.id = "sellId" + id;
                    cell2.innerHTML = amount;
                    cell2.id = "sellAmount" + id;
                    cell3.innerHTML = salePrice;
                    cell3.id = "sellPrice" + id;
                    cell4.innerHTML = getTdById(id, "warehouse");
                    cell4.id = "sellWhName" + id;
                    cell5.innerHTML = getTdById(id, "brand");
                    cell5.id = "sellBrand" + id;
                    cell6.innerHTML = getTdById(id, "model");
                    cell6.id = "sellModel" + id;
                    cell7.innerHTML = getTdById(id, "color");
                    cell7.id = "sellColor" + id;
                    cell8.innerHTML = getTdById(id, "phoneCapacity");
                    cell8.id = "sellCapacity" + id;
                    cell9.innerHTML = getTdById(id, "date");
                    cell9.id = "sellDate" + id;
                    cell10.innerHTML = '<button id="btn' + id + '" class="btn btn-primary buttonDesign" type="button"  onclick="deleteRow(this.id)">x</button>';
                }
                inSell = false;
                setTdById(id, "amount", getTdById(id, "amount") - amount);
                document.getElementById("numberofdevice").value = "";
                document.getElementById("price").value = "";
                tempPrice =  tempPrice + parseInt(amount * salePrice);
                document.getElementById("fullPrice").innerHTML = new Intl.NumberFormat().format(tempPrice);
            }
        }

        function deleteRow(rowId) {
            rowId = rowId.replace("btn", "");
            var recentlyPrice = tempPrice;
            var phonePrice = parseInt(getTdById(rowId, "sellPrice")) * parseInt(getTdById(rowId, "sellAmount"));
            tempPrice = recentlyPrice - phonePrice;
            document.getElementById("fullPrice").innerHTML = tempPrice;
            document.getElementById("amount" + rowId).innerHTML = parseInt(getTdById(rowId, "sellAmount")) + parseInt(getTdById(rowId, "amount"));
            document.getElementById("sellTable" + rowId).remove();
            var table = document.getElementById("sellingTableBody");
            if(table.rows.length === 0){
                $("#submitButton").attr('disabled','disabled');
            }
        }
        function finishSale(){
            var data = "";
            var tempRowId = "";
            var table = document.getElementById("sellingTableBody");
            for (var i = 0; i < table.rows.length; i++) {
                tempRowId = table.rows[i].id;
                var tempId = tempRowId.replace("sellTable","");
                data +=
                    parseInt(document.getElementById("sellId"+tempId).innerHTML) + "|" +
                    document.getElementById("sellAmount"+tempId).innerHTML + "|" +
                    document.getElementById("sellPrice"+tempId).innerHTML + "|" +
                    document.getElementById("sellWhName"+tempId).innerHTML.trim() + "|" +
                    document.getElementById("sellBrand"+tempId).innerHTML + "|" +
                    document.getElementById("sellModel"+tempId).innerHTML + "|" +
                    document.getElementById("sellColor"+tempId).innerHTML + "|" +
                    document.getElementById("sellCapacity"+tempId).innerHTML.replace("GB","")+";";
            }
            data = data.substring(0,data.length-1);
            document.querySelector("#sellingTableData").value = data;
        }
    </script>
{% endblock %}