{% extends 'index.html.twig' %}

{# @var lastOrder \App\Entity\Order #}
{# @var orderedPhones \App\Entity\Order[] #}

{% block content %}
    <div class="container">
        <h2 class="text-center">Számla</h2>
        <div>
            <div class="row">
                <div class="col" style="border-width: 1px;border-style: solid;">
                    <p>A számlakibocsátó neve, címe:
                    </p>
                    {% set count = 0 %}
                    {% for o in orderedPhones %}
                       <p>{{ o.warehouseID.whName }}</p>
                    {% endfor %}
                    {{ count }}
                    qwwqeew<p>Közösségi adószám: </p>
                </div>
                <div class="col" style="border-width: 1px;border-style: solid;">
                    <p>A vevő neve, címe: </p>
                    <p>Közösségi adószám: </p>
                </div>
            </div>
            <div class="row">
                {% set datetime = date('') %}
                <div class="col" style="border-width: 1px;border-style: solid;">
                    <p>A fizetés módja:&nbsp;</p>
                    <p class="text-center">Átutalás</p>
                </div>
                <div class="col" style="border-width: 1px;border-style: solid;">
                    <p>A teljesítés időpontja:</p>
                    <p>{{ datetime|date("Y/m/d") }}</p>
                </div>
                <div class="col" style="border-width: 1px;border-style: solid;">
                    <p>A számla kelte:</p>
                    <p>{{ datetime|date("Y/m/d") }}</p>
                </div>
                <div class="col" style="border-width: 1px;border-style: solid;">
                    <p>A fizetés határideje:</p>
                    <p>{{ datetime|date_modify("+4 day")|date("Y/m/d") }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col" style="border-width: 1px;border-style: solid;">
                    <p class="text-center">A termék vagy szolgáltatás</p>
                </div>
            </div>
            <div class="row">
                <div class="col" style="border-width: 1px;border-style: solid;">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Telefon</th>
                                <th>Mennyiség</th>
                                <th>Egység ára(ÁFA nékül</th>
                                <th>Értéke (ÁFA nélkül)</th>
                                <th>ÁFA kulcsa</th>
                                <th>ÁFA összege</th>
                                <th>Végösszeg (ÁFÁVAL)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" style="border-width: 1px;border-style: solid;">
                    <p>A számlában szereplő ÁFA részletezése</p>
                </div>
                <div class="col" style="border-width: 1px;border-style: solid;">
                    <p>27 %</p>
                </div>
                <div class="col" style="border-width: 1px;border-style: solid;">
                    <p>%</p>
                </div>
                <div class="col" style="border-width: 1px;border-style: solid;">
                    <p>%</p>
                </div>
            </div>
            <div class="row">
                <div class="col offset-xl-0" style="border-width: 1px;border-style: solid;">
                    <p class="text-end">Összesen</p>
                </div>
            </div>
            <div class="row">
                <div class="col" style="border-width: 1px;border-style: solid;">
                    <p>A számla érték ÁFA nélkül</p>
                </div>
                <div class="col" style="border-width: 1px;border-style: solid;">
                    <p>123123312</p>
                </div>
                <div class="col" style="border-width: 1px;border-style: solid;"></div>
                <div class="col" style="border-width: 1px;border-style: solid;">
                    <p>123123312</p>
                </div>
            </div>
            <div class="row">
                <div class="col" style="border-width: 1px;border-style: solid;">
                    <p>Az ÁFA összege</p>
                </div>
                <div class="col" style="border-width: 1px;border-style: solid;">
                    <p>123333</p>
                </div>
                <div class="col" style="border-width: 1px;border-style: solid;"></div>
                <div class="col" style="border-width: 1px;border-style: solid;">
                    <p>12321321</p>
                </div>
            </div>
            <div class="row">
                <div class="col" style="border-width: 1px;border-style: solid;">
                    <p>A számla végösszege</p>
                </div>
                <div class="col" style="border-width: 1px;border-style: solid;">
                    <p>557657567</p>
                </div>
                <div class="col" style="border-width: 1px;border-style: solid;"></div>
                <div class="col" style="border-width: 1px;border-style: solid;">
                    <p>12321321</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



