{% extends 'index.html.twig' %}

{# @var user \App\Entity\user #}
{% block content %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4"><br></h3>
        <div id="resultAlert" class="alert hide" role="alert" style="background: rgba(255,255,255,0.5);">
            <h4 class="text-center m-auto w-50 rounded" style="font-weight: bold; background:{{ resultColor }};">{{ resultMessage }}</h4>
            <hr class="m-auto w-50 my-2" style="height: 3px;">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Felhasználónév</th>
                        <th>Teljes név</th>
                        <th>Email</th>
                        <th>Telefonszám</th>
                        <th>Jogosultság</th>
                    </tr>
                    </thead>
                    <!-- DESIGN (talán inputtal szépen kiírni) -->
                    <tbody>
                        <tr >
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.fullName }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.phoneNumber }}</td>
                            {% if user.roles[0] == "ROLE_ADMIN" %}
                                <td id="role">{{ user.roles[0] }}</td>
                            {% elseif user.roles[0] == "ROLE_USER" %}
                                <td id="role">{{ user.roles[0] }}</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
            <a href="{{ path('users') }}" class="btn btn-light buttonDesign" type="button">Vissza az elöző oldalra</a>
        </div>
    </div>


{% endblock %}