{% extends 'index.html.twig' %}

{# @var users \App\Entity\User[] #}

{% block content %}
    <div class="container-fluid">
        <div class="alert alert-{{ resultColor }}" role="alert">
            <span class="fw-bold">{{ resultMessage }}</span>
        </div>
        <div class="card shadow" style="background: rgba(255,255,255,0.5);margin-bottom: 5%;">
            <div class="card-header py-3" style="background: #003247;">
                <h3 style="color: rgb(255,255,255) !important;" class="text-dark mb-1">Raktárosok</h3>
            </div>
            <div class="card-body" style="background: rgba(255,255,255,0.5);">
                <div class="row">
                    <div class="col-md-6 text-nowrap">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button style="background: #e6f8fe;opacity: 1; border:solid black; color:black;" disabled><i class="fa fa-search"></i></button>
                            </div>
                            <input type="text" id="myInput" onkeyup="searchFilter()" title="Telefon keresése">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end dataTables_filter" id="dataTable_filter">
                            <a href="{{ path('generateUserExcel') }}" class="btn btn-primary buttonDesign" type="button">Excel</a>
                            <a href="{{ path('generateUserPDF') }}" class="btn btn-primary buttonDesign">PDF</a>
                            <button class="btn btn-primary buttonDesign" type="button" data-bs-target="#addUser" data-bs-toggle="modal">Hozzáadás</button>
                        </div>
                    </div>
                </div>
                <div class="scrollIt table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table table-striped my-0" id="dataTable">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Felhasználónév</th>
                            <th>Teljes név</th>
                            <th>Email</th>
                            <th>Telefonszám</th>
                            <th>Jogosultság</th>
                            <th>Módosítás</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set counter = 0 %}
                        {% for user in users %}
                            <tr id="{{ counter }}">
                                <td id="id{{ counter }}">{{ user.id }}</td>
                                <td id="username{{ counter }}">{{ user.username }}</td>
                                <td id="fullName{{ counter }}">{{ user.fullName }}</td>
                                <td id="email{{ counter }}">{{ user.email }}</td>
                                <td id="phoneNumber{{ counter }}">{{ user.phoneNumber|replace({'+36':''}) }}</td>
                                {% if user.roles[0] == "ROLE_ADMIN" %}
                                    <td id="role{{ counter }}">{{ user.roles[0] }}</td>
                                {% elseif user.roles[0] == "ROLE_USER" %}
                                    <td id="role{{ counter }}">{{ user.roles[0] }}</td>
                                {% endif %}
                                <td>
                                    <button id="btn{{ counter }}" class="btn btn-primary buttonDesign" type="button" data-bs-target="#updateUser" data-bs-toggle="modal" onclick="updateUser(this.id)"><i class="fas fa-edit operationIcon"></i></button>
                                </td>
                            </tr>
                            {% set counter = counter + 1 %}
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr></tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="updateUser">
        <div class="modal-dialog modal-lg modal-fullscreen-lg-down" role="document">
            <div class="modal-content">
                <div class="modal-header modalHeaderFooter">
                    <h5 class="w-100 text-center"><strong>Raktáros adat módosítás</strong><br></h5><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form id="updateForm" action="{{ path('updateUser', {"userId" : "id"}) }}" method="post">
                    <div class="modal-body modalBody">
                        <div class="card shadow mb-3" style="background: rgba(255,255,255,0.5);color: #1e2833;">
                            <div class="card-body" style="background: #e6f8fe;">
                                    <div class="row">
                                        <div class="col col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="username"><strong>Felhasználónév</strong></label>
                                                <small style="color:red">(Ha létező a megadott felhasználónév, akkor nem kerül módosításra!)</small>
                                                <input class="form-control" type="text" id="username"  name="username" maxlength="30" required>
                                            </div>
                                        </div>
                                        <div class="col col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="fullName"><strong>Teljes név</strong><br></label>
                                                <input class="form-control" type="text" id="fullName" name="fullName" maxlength="100" required>
                                            </div>
                                        </div>
                                        <div class="col col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="email"><strong>Email cím&nbsp;</strong></label>
                                                <input class="form-control" type="email" id="email" name="email" maxlength="255" required>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label class="form-label" for="phoneNumber"><strong>Telefonszám</strong><br></label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-append">
                                                    <button class="input-group-text" style="background: #e6f8fe;opacity: 1; border:solid black; color:black;" disabled>+36</button>
                                                </div>
                                                <input class="form-control" type="text" id="phoneNumber" name="phoneNumber" maxlength="30" required>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for="role"><strong>Jogosultság</strong><br></label>
                                                <small style="color:red">(ROLE_ADMIN)</small>
                                                <input class="form-control" type="text" id="role" name="role" disabled value="ROLE_ADMIN">
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer modalHeaderFooter">
                        <button class="btn btn-light modalCloseButton" type="button" data-bs-dismiss="modal">Bezárás</button>
                        <button class="btn btn-primary modalSaveButton" type="submit">Mentés</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="addUser">
        <div class="modal-dialog modal-lg modal-fullscreen-lg-down" role="document">
            <div class="modal-content">
                <div class="modal-header modalHeaderFooter">
                    <h5 class="w-100 text-center"><strong>Új raktáros hozzáadása</strong></h5><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{{ path('addUser') }}" method="post">
                    <div class="modal-body modalBody">
                        <div class="card shadow mb-3" style="background: rgba(255,255,255,0.5);">
                            <div class="card-body" style="background: #e6f8fe;">
                                    <div class="row">
                                        <div class="col col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="newUsername"><strong>Felhasználónév</strong></label>
                                                <input class="form-control" type="text" id="newUsername"  name="newUsername" maxlength="30" required>
                                            </div>
                                        </div>
                                        <div class="col col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="newPassword"><strong>Jelszó</strong><br></label>
                                                <input class="form-control" type="password" id="newPassword"  name="newPassword" maxlength="30" required>
                                            </div>
                                        </div>
                                        <div class="col col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="newPasswordAgain"><strong>Jelszó megerősítése</strong><br></label>
                                                <input class="form-control" type="password" id="newPasswordAgain"  name="newPasswordAgain" maxlength="30" required>
                                            </div>
                                        </div>
                                        <div class="col col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="newFullname"><strong>Teljes név</strong><br></label>
                                                <input class="form-control" type="text" id="newFullname"  name="newFullname" maxlength="100" required>
                                            </div>
                                        </div>
                                        <div class="col col-12">
                                            <div class="mb-3">
                                                <label class="form-label" for="newEmail"><strong>Email cím&nbsp;</strong></label>
                                                <input class="form-control" type="email" id="newEmail" name="newEmail" maxlength="255" required>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label class="form-label" for="newPhoneNumber"><strong>Telefonszám</strong><br></label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-append">
                                                    <button class="input-group-text" style="background: #e6f8fe;opacity: 1; border:solid black; color:black;" disabled>+36</button>
                                                </div>
                                                <input class="form-control" type="text" id="newPhoneNumber" name="newPhoneNumber"  placeholder="304407954" maxlength="30" required>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for="newRole"><strong>Jogosultság</strong><br></label>
                                                <small style="color:red">(ROLE_ADMIN)</small>
                                                <input class="form-control" type="text" id="newRole" name="newRole" value="ROLE_ADMIN">
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer modalHeaderFooter">
                        <button class="btn btn-light modalCloseButton" type="button" data-bs-dismiss="modal">Bezárás</button>
                        <button class="btn btn-primary modalSaveButton" type="submit">Hozzáadás</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function searchFilter() {
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("dataTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        function updateUser(rowId){
            rowId = rowId.replace("btn","");
            id = document.getElementById("id"+rowId).innerHTML;
            document.getElementById("username").value = document.getElementById("username"+rowId).innerHTML;
            document.getElementById("fullName").value = document.getElementById("fullName"+rowId).innerHTML;
            document.getElementById("email").value = document.getElementById("email"+rowId).innerHTML;
            document.getElementById("phoneNumber").value = document.getElementById("phoneNumber"+rowId).innerHTML;
            document.getElementById("role").value = document.getElementById("role"+rowId).innerHTML;

            let url = document.getElementById("updateForm").action;
            var newUrl = url.replace("id", parseInt(id));
            document.getElementById("updateForm").action = newUrl;
            $("#updateUser").show();
        }
    </script>
{% endblock %}


